<!DOCTYPE html>
<html layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Welcome back, <span th:text="${#request.userPrincipal.principal.username}"></span>!</h1>
    <ul>
        <li><a href="/recipe/list">My Recipes</a></li>
        <li><a href="/recipe/create">Create a new Recipe</a></li>
    </ul>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
</div>
</body>
</html>