<html layout:decorator="layout/layout" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>

    <title>choppybuild</title>
</head>
<body>
<div layout:fragment="breadcrum" th:remove="tag">
<!--    <li class="breadcrumb-item">-->
<!--        <a href="#" th:href="@{/recipe/list}">Recipes</a>-->
<!--    </li>-->
    <li aria-current="page" class="breadcrumb-item active">New</li>
</div>

<div layout:fragment="content" th:remove="tag">
    <h2>Create a new Recipe</h2>


    <form action="#" enctype="multipart/form-data" method="post" th:action="@{/recipe/save}">

        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" id="title" name="title" required
                   type="text">
        </div>

        <div class="form-group">
            <label for="cooktime">Cooktime</label>
            <input class="form-control" id="cooktime" name="cooktime" required
                   type="text">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" id="description" name="description" required
                   type="text">
        </div>

        <div class="form-group">
            <label for="instructions">Instructions</label>
            <input class="form-control" id="instructions" name="instructions" required
                   type="text">
        </div>

<!--        <div class="form-group">-->
<!--            <label for="image">Image*</label>-->
<!--            <input class="form-control" id="image" name="image" required type="file">-->
<!--        </div>-->

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>
</body>
</html>