<html layout:decorator="layout/layout" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>choppybuilder</title>
</head>
<body>
<div layout:fragment="breadcrum" th:remove="tag">
    <li class="breadcrumb-item">
        <a href="#" th:href="@{/recipe/list}">Recipes</a>
    </li>
    <li aria-current="page" class="breadcrumb-item active" th:text="${recipe.id}"></li>
</div>
<div layout:fragment="content">

    <div class="font-sans antialiased h-screen flex">

        <div th:include="recipe/card">&nbsp;</div>

        <div class="flex-1 flex flex-col bg-white overflow-hidden" xmlns:th="http://www.w3.org/1999/xhtml">
            <!-- Top bar -->
            <div class="border-b flex px-6 py-2 items-center flex-none">
                <div class="flex flex-col">
                    <div class="text-grey-dark text-sm truncate">
                    </div>

                    <h3 class="text-grey-darkest mb-1 text-3xl font-bold uppercase"> Ingredients </h3>

                    <div class="card-body">
                        <ul class="list-inside list-disc bg-gray-200 px-4 py-6">
                            <li th:each="ingredient : ${ingredients}">
                                <p class="card-text" th:text="${ingredient.name}"></p>
                                <td method="get"><a th:href="${'/ingredient/' + ingredient.id}">Delete</a></td>
                            </li>
                        </ul>
                    </div>
                    <a class="btn btn-secondary btn-sm" th:href="@{/ingredient/add/} + ${recipe.id}">Add an ingredient</a></td><td><a th:href="${'/recipe/' + recipe.id}"></a>
                </div>


                <h3 class="text-grey-darkest mb-1 text-3xl font-bold uppercase"> Tags </h3>

                <div class="card-body">
                    <ul class="list-inside list-disc bg-gray-200 px-4 py-6">
                        <li th:each="tag : ${tags}">
                            <p class="card-text" th:text="${tag.name}"></p>
                            <td method="get"><a th:href="${'/tag/' + tag.id}">Delete</a></td>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-secondary btn-sm" th:href="@{/tag/add/} + ${recipe.id}">Add a tag</a></td><td><a th:href="${'/recipe/' + recipe.id}"></a>
            </div>
        </div>


    </div>
</div>

</body>
</html>